* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  /* font-family: monospace; */

}

h1{
  color: lightyellow;
}

body {
  margin: auto;
  margin-top: 30px;
  max-width: 800px;
  letter-spacing: 0.05em;
  line-height: 2em;
  background-color: black;
}

p{
  color: lightgrey;
}

#jOutput {
  color: teal;
}
#evenodd{
  color: teal;
}
#numset{
  color: teal;
}
#rm{
  color: teal;
}
